@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-zinc-400: #a1a1aa;
  --color-zinc-100: #f4f4f5;
  --color-accent: #0284c7; /* Electric blue */
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 font-sans antialiased;
  }
}
